{% extends 'base.html' %}
{% load static %}

{% block title %}Upgrade to Pro{% endblock title %}

{% block stripe_init %}
    <!-- <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/stripe.css' %}"> -->
{% endblock %}


{% block content %}

<div class="text-center">
  <h1 class="mb-6 text-4xl text-white">Please, upgrade to Pro to continue.</h1>
  <p class="mb-2 text-xl text-white">To create more I ask you to purchse the 'PRO' plan.</p>
  <p class="mb-2 text-xl text-white">
    The plan will cost you $25. One-time payment. This will help me keep the app alive and work on updates for you.
  </p>

  <form class="m-6" action="{% url 'charge-success' %}" method="post">{% csrf_token %}

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ stripe_key }}"
      data-description="Pro account"
      data-amount="2500"
      data-locale="auto">
    </script>

  </form>
</div>

{% endblock content %}
