{% extends 'base.html' %}
{% load static %}

{% block title %}Upgrade to Pro{% endblock title %}

{% block stripe_styles %}
  <link rel="stylesheet" href="{% static 'css/stripe.css' %}">
{% endblock %}

{% block content %}

<div class="p-6 text-center bg-white rounded">
  <h1 class="mb-6 text-4xl">Please, upgrade to Pro to continue.</h1>
  <p class="mb-2 text-xl">To create more I ask you to purchse the 'PRO' plan.</p>
  <p class="mb-2 text-xl">
    The plan will cost you $25. One-time payment. This will help me keep the app alive and work on updates for you.
  </p>
</div>

<script src="https://js.stripe.com/v3/"></script>
  
<script>
  var stripe = Stripe({{ stripe_key }});

  stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as parameter here
    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
    sessionId: '{{CHECKOUT_SESSION_ID}}'
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });
</script>

{% endblock content %}




