{% extends 'base.html' %}

{% block title %}"Thoughts On" Journals{% endblock title %}

{% block content %}

    <h1 class="green-button" onclick="inputJournal(); this.onclick=null;">Add Journal</h1>
    <h1 id="header">My thoughts on:</h1>
    <div id="new-journal">
      <form class="" id="myForm" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="add-button">Add</button>
      </form>
    </div>
    <section id='journals'>
        {% for to_journal in to_journals %}
          <a class="journal" href="{% url 'to-journal-entries' to_journal.slug %}">{{ to_journal.name }}</a>
        {% endfor %}
    </section>

{% endblock content %}
