{% extends 'base.html' %}
{% block title %}Rename Journal{% endblock title %}
{% block content %}

<div class="w-auto mx-auto mt-10">
  <div class="p-8 mb-6 bg-white border-t-8 border-blue-500 rounded-lg shadow-lg">
    <form class="" id="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ form.non_field_errors }}

        <div class="">
          {{ form.journal_name.errors }}
          <label class="block mb-2 font-bold text-gray-700" for="{{ form.journal_name.id_for_label }}">Journal Name</label>
          {{ form.journal_name }}
        </div>

        <div class="">
          {{ form.description.errors }}
          <label class="block mb-2 font-bold text-gray-700" for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>

        <div class="">
          {{ form.profile_image.errors }}
          <label class="block mb-2 font-bold text-gray-700" for="{{ form.profile_image.id_for_label }}">Image</label>
            {{ form.profile_image }}
        </div>

        <div class="flex flex-row justify-end">
          <a class="block px-4 py-2 ml-1 font-bold text-center text-white bg-red-800 rounded hover:bg-red-300" id="" href="{% url 'delete-journal' slug=journal_slug id=journal_id %}">Delete</a>
          <button class="px-4 py-2 ml-1 font-bold text-white bg-blue-800 rounded hover:bg-blue-300" type="submit">Save</button>
        </div>
      </form>

    </div>
  </div>
  
{% endblock content %}
