{% extends 'base.html' %}
{% block title %}{{ journal_name }}{% endblock title %}
{% block content %}

    <h1 id="header">Journals:</h1>
    <button class="add-button" style="margin-left: 0px;margin-bottom: 10px;" id="journal-to-hide" onclick="inputJournal(); this.onclick=null;">Add Journal</button>
    <span id="new-journal">
      <form class="" id="myJournalForm" action="" method="post"  style="margin-bottom:0px;">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="add-button">Add</button>
      </form>
    </span>

    <section id='journals'>
        {% for journal in to_journals %}
          <a class="journal" href="{% url 'to-journal-entries' journal.slug %}">{{ journal.journal_name }}</a>
        {% endfor %}
    </section>

{% endblock content %}
