{% extends 'base.html' %}
{% block title %}"Thoughts On" Journals{% endblock title %}
{% block content %}

<a class="go-back" href="{% url 'home' %}">back home</a>

<h2 class="block-header">{{ journal_name }}</h2>
<a class="delete-button" href="{% url 'delete-journal' slug %}">Delete</a>
<a class="rename-button" href="#">Rename</a>
<hr class="block-header-underline">

<button id="to-hide" class="add-entry-button" onclick="inputJournal(); this.onclick=null;">Add Entry</button>
<div id="new-journal">
  <form class="" id="myForm" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="add-entry-button">Add Entry</button>
  </form>
</div>



  <div id="entries">
    {% for entry in to_journal_entries %}
      <h1 class="entry-date">{{ entry.entry_date }}</h1>
      <p class="entry-body">{{ entry.body }}</p>
    {% endfor %}
  <div>




{% endblock content %}
