{% extends 'base.html' %}
{% block title %}edit Contact{% endblock title %}
{% block content %}

        <form class="flex flex-col max-w-xl p-10 m-4 mx-auto rounded" id="" method="post" enctype="multipart/form-data">{% csrf_token %}
          {{ form.non_field_errors }}

            <div class="text-center">
              {{ form.first_name.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.first_name.id_for_label }}">First Name</label>
              {{ form.first_name }}
            </div>

            <div class="text-center">
              {{ form.last_name.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.last_name.id_for_label }}">Last Name</label>
              {{ form.last_name }}
            </div>

            <div class="text-center">
              {{ form.profile_image.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.profile_image.id_for_label }}">Profile Image</label>
              <div class= "px-4 py-3 mx-2 mx-auto mb-3 leading-tight text-gray-700 bg-gray-200 border rounded appearance-none focus:outline-none focus:bg-white">
                {{ form.profile_image }}
              </div>
            </div>

            <div class="text-center">
              {{ form.tags.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.tags.id_for_label }}">Tags</label>
                {{ form.tags }}
            </div>

            <div class="text-center">
              {{ form.date_of_birth.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
                {{ form.date_of_birth }}
            </div>

            <div class="text-center">
              {{ form.title.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.title.id_for_label }}">Job Title</label>
                {{ form.title }}
            </div>

            <div class="text-center">
              {{ form.employer.errors }}
              <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="{{ form.employer.id_for_label }}">Company</label>
                {{ form.employer }}
            </div>

            <button class="w-full px-4 py-2 mx-auto font-bold text-white bg-blue-800 rounded hover:bg-blue-300" type="submit">Submit</button>

        </form>

{% endblock content %}
