{% extends 'base.html' %}
{% block title %}edit Contact{% endblock title %}
{% block content %}


        <div class="w-auto mx-auto mt-10">
          <div class="p-8 mb-6 bg-white border-t-8 border-blue-500 rounded-lg shadow-lg">
            <form class="" id="" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form.non_field_errors }}

                <div class="">
                  {{ form.first_name.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.first_name.id_for_label }}">First Name</label>
                  {{ form.first_name }}
                </div>

                <div class="">
                  {{ form.last_name.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.last_name.id_for_label }}">Last Name</label>
                  {{ form.last_name }}
                </div>

                <div class="">
                  {{ form.contact_frequency.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.contact_frequency.id_for_label }}">How often should we remind you to contact this person? (days)</label>
                  {{ form.contact_frequency }}
                </div>

                <div class="">
                  {{ form.profile_image.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.profile_image.id_for_label }}">Profile Image</label>
                    {{ form.profile_image }}
                </div>

                <div class="">
                  {{ form.tags.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.tags.id_for_label }}">Tags</label>
                    {{ form.tags }}
                </div>

                <div class="">
                  {{ form.date_of_birth.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
                    {{ form.date_of_birth }}
                </div>

                <div class="">
                  {{ form.title.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.title.id_for_label }}">Job Title</label>
                    {{ form.title }}
                </div>

                <div class="">
                  {{ form.employer.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.employer.id_for_label }}">Company</label>
                    {{ form.employer }}
                </div>

                <div class="">
                  {{ form.how_you_met.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.how_you_met.id_for_label }}">How you met?</label>
                    {{ form.how_you_met }}
                </div>

                <div class="">
                  {{ form.description.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.description.id_for_label }}">Short Description</label>
                    {{ form.description }}
                </div>

                <button class="w-full px-4 py-2 mx-auto font-bold text-white bg-blue-800 rounded hover:bg-blue-300" type="submit">Submit</button>
            </form>
          </div>
        </div>

{% endblock content %}
