{% extends 'base.html' %}
{% load static %}
{% block title %}"Kushim - Contacts"{% endblock title %}
{% block content %}

<header class="block px-4 py-6 mb-6 leading-normal bg-white rounded-lg">
  <div class="mb-6 md:mb-4">
    {% if contact_info.profile_image %}
      <a href="#"><img class="float-left w-24 h-24 mr-2 rounded-full md:h-32 md:w-32" src="{{ MEDIA_URL }}{{ contact_info.profile_image }}" alt="{{ contact_info.first_name }} {{ contact_info.last_name }}"></a>
    {% else %}
      <a href="#"><img class="float-left w-24 h-24 mr-2 rounded-full md:h-32 md:w-32" src="{% static 'images/unknown-profile.png' %}" alt="Sample Contact Image"></a>
    {% endif %}
    
    <h1 class="text-2xl font-bold">{{ contact_info.first_name }} {{ contact_info.last_name }}</h1>
    <p class="">DoB: {{ contact_info.date_of_birth }}</p>
    <p class="">Tags: {{ contact_info.tags }}</p>
    
    {% if contact_info.title %}
    <p class="">{{ contact_info.title }} at {{ contact_info.employer }}</p>
    {% endif %}

  </div>
  <a class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" href="{% url 'edit-contact' id=id %}">Edit Contact Information</a>
</header>



<div class="contact-info-card">

</div>

<button id="contact-to-hide" class="add-entry-button" onclick="inputContact(); this.onclick=null;">Add Entry</button>
<div class="contact-log">  
  <form class="" id="myContactForm" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="add-entry-button">Add Log</button>
  </form>
</div>

  <div class="contact-entries">
    {% regroup log_entries by log_type as log_entries %}

      {% for date_created in log_entries %}

      <div class="entry-card">
        <h2 class="entry-date">{{ date_created.grouper }}</h2>

        {% for log_entry in date_created.list %}
        <div class="entry">
            <p class="entry-body">{{ log_entry.body|urlize|linebreaks }} - <span class='small-text'>{{ log_entry.date_created }}</span></p></p>
        </div>
        {% endfor %}
      </div>

      {% endfor %}
  </div>

{% endblock content %}
