{% extends 'base.html' %}
{% load static %}
{% block title %}"Kushim - Contacts"{% endblock title %}
{% block content %}

<header class="block px-4 py-6 mb-4 leading-normal bg-white rounded-lg">
  <div class="mb-6 md:mb-4">
    {% if contact_info.profile_image %}
      <a href="#"><img class="float-left w-24 h-24 mr-2 rounded-full md:h-32 md:w-32" src="{{ MEDIA_URL }}{{ contact_info.profile_image }}" alt="{{ contact_info.first_name }} {{ contact_info.last_name }}"></a>
    {% else %}
      <a href="#"><img class="float-left w-24 h-24 mr-2 rounded-full md:h-32 md:w-32" src="{% static 'images/unknown-profile.png' %}" alt="Sample Contact Image"></a>
    {% endif %}
    
    <h1 class="text-2xl font-bold">{{ contact_info.first_name }} {{ contact_info.last_name }}</h1>
    <p class="">DoB: {{ contact_info.date_of_birth }}</p>
    <p class="">Tags: {{ contact_info.tags }}</p>
    <p class="">
      Work:
    {% if contact_info.title %}
      <span class="font-bold">{{ contact_info.title }}</span>
    {% endif %}
    {% if contact_info.employer %}
    at <span class="font-bold">{{ contact_info.employer }}</span>
    {% endif %}
    </p>
  </div>
  <a class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" href="{% url 'edit-contact' id=id %}">Edit Contact Information</a>
        
  
</header>

<div class="flex flex-col ">
  
  {% if contact_info.description or contact_info.how_you_met %}
  <div class="flex-1 block p-4 mb-4 leading-normal bg-white rounded-lg">
    {% if contact_info.description %}
    <h2 class="text-lg font-bold">Description</h2>
    <p class="mb-3">
      {{ contact_info.description }} 
    </p>
    {% endif %}
    {% if contact_info.how_you_met %}
    <h2 class="text-lg font-bold">How you met</h2>
    <p class="">
      {{ contact_info.how_you_met }} 
    </p>
    {% endif %}
  </div>
  {% endif %}

    <div class="flex-1 block p-4 mb-4 leading-normal bg-white rounded-lg">
    <div class="mb-4">
      <h2 class="text-lg font-bold">Contacts</h2>
      {% for contact in contact_contacts %}
      <p class="my-1"><span class="font-semibold">{{ contact.contact_type }}</span>: {{ contact.contact_value }}</p>
      {% endfor %}
    </div>
  
    <button type="submit" id="contactcontactsbutton-to-hide" onclick="inputContactContacts(); this.onclick=null;" class="block px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">Add Contact</button>
    
    <form class="hidden" id="myContactContactForm" action="{% url 'edit-contact-contacts' contact_info.contact_id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ form.non_field_errors }}
      
      <div class="my-2">
        {{ contacts_form.contact_type.errors }}
        {{ contacts_form.contact_type }}
      </div>
      
      <div class="my-2">
        {{ contacts_form.contact_value.errors }}
        {{ contacts_form.contact_value }}
      </div>
      
      <button type="submit" class="block px-4 py-2 my-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">Add Contact</button>
    </form>
  </div>
</div>

<button id="contact-to-hide" class="add-entry-button" onclick="inputContact(); this.onclick=null;">Add Log</button>
<div class="contact-log">  
  <form class="" id="myContactForm" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="add-entry-button">Add Log</button>
  </form>
</div>

  <div class="contact-entries">
    {% regroup log_entries|dictsort:"log_type" by log_type as log_entries %}

      {% for date_created in log_entries %}

      <div class="px-4 py-2 mb-4 bg-white rounded-lg">
        <h1 class="mt-2 mb-3 text-3xl font-semibold text-blue-900">{{ date_created.grouper }}</h1>

        {% for log_entry in date_created.list %}
        <div class="mb-1 entry">
            <span class="entry-body">{{ log_entry.body|urlize|linebreaks }}</span> - <span class='small-text'>{{ log_entry.date_created }}</span>

            <a class="edit-entry-button-main" href="{% url 'edit-contact-log' log_entry.id %}"><i class="las la-pen small"></i></a>
            <a class="edit-entry-button-main" href="{% url 'delete-contact-log' log_entry.id %}"><i class="las la-times-circle small"></i></a>

            {% if log_entry.support_image %}
              <img src="{{ MEDIA_URL }}{{ log_entry.support_image }}" alt="{{ list_entry.body}}" class="journal-support-image">
            {% endif %}

        </div>
        {% endfor %}
      </div>

      {% endfor %}
  </div>

{% endblock content %}
