DEBUG=True

SECRET_KEY=''
DATABASE_URL=''
ALLOWED_HOSTS=''

# Sentry
dsn=''

# Analytics
ANALYTICAL_INTERNAL_IPS = ''
GOOGLE_ANALYTICS_PROPERTY_ID=''

# Stripe
STRIPE_TEST_PUBLIC_KEY=''
STRIPE_TEST_SECRET_KEY=''
STRIPE_LIVE_PUBLIC_KEY=''
STRIPE_LIVE_SECRET_KEY=''
