body {
  background-color: #349EEB;
  font-size: 22px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}
p, h1, h2, h3, h4, a, ul, li {
  color: white;
}

/* General */
.green-button {
  text-align: center;
  background: lightgreen;
  color: white;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.go-back {
  display: block;
  margin-bottom: 1rem;
  font-size: 15px;
  color: white;
}
#content {
  margin-top: 100px;
  max-width: 920px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
.small {
  font-size: 15px;
}
/* General End */

/* Navbar */
#navbar {
  background-color: #3F8CE8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
#navbar p, #navbar a, #navbar h1 {
  text-decoration: none;
  color: white;
}
#navbar .nav-container {
  padding: 0 1rem;
  height: 55px;
  max-width: 920px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#brand {
  padding: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  float: left;
}
#brand a {
  font-size: 25px;
}
#user {
  float: right;
  margin-top: 3px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 12px 16px;
  right: 0;
  z-index: 1;
  background-color: #3F8CE8;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-item {
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
}
#login-nav-button {
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  height: 34px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 72px;
  box-sizing: inherit;
}
#signup-nav-button  {
  background-image: linear-gradient(to right,#e052a0,#f15c41);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
/* Navbar End */

/* Home Page Intro */
.intro {
  margin-bottom: 2.5rem;
}
.intro-header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 1.5rem;
  font-weight: 600;

}
.intro-description {
  text-align: center;
  font-size: 25px;
  font-weight: 450;
}
/* Home Page Intro End */

/* Home Page */
.block-header {
  display: inline;
  font-size: 27px;
  font-weight: 600;
}
.block-header-underline {
  border: 4px solid white;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.card-block {
  border: 5px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2rem;
  background-color: #ea7f33;
}
.card-block h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.card-block h2, .card-block p {
  text-align: center;
}
.card-separator {
  border: 2px solid white;
  border-radius: 3px;
}
.center-image {
  text-align: center;
}
.my-setup-image {
  border: 5px solid white;
  border-radius: 5px;
  max-width: 95%;
}
/* Home Page End */

/* Home Page Logged In */
.app {
  margin-bottom: 2rem;
}
.app-name {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.la-user {
  font-size: 2.5rem;
}
/* Home Page Logged In End */

/* Signup and login */
.box {
  text-align: center;
  border: 5px solid white;
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  margin: auto;
}
.box h1 {
  margin-top: 7px;
  margin-bottom: 10px;
  font-weight: 650;
  text-transform: uppercase;
  font-size: 30px;
}
.help-block, .alert-block {
  margin: 10px 0;
  font-size: 15px;
  padding: 10px;
  background-color: #f44336;
}
.alert-block ul {
  list-style-type: none;
  margin: auto;
  padding: 0;

}
.control-group {
  margin-bottom: 1rem;
}
.control-group label {
  font-size: 1.5rem;
}
.textinput, .emailinput {
  border-radius: 3px;
  padding: 3px;
  border: 0;
  font-size: 1rem;
  width: 215px;
}
.asteriskField {
  display: none;
}
#signup-button, #login-button {
  color: white;
  background-image: linear-gradient(to right,#e052a0,#f15c41);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 220px;

}
/* Signup and login End */

/* Add, Delete, Rename Journal and List Button  */
#id_name {
  padding: 6px;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 170px;
  font-size: 20px;
  color: grey;
}
#myJournalForm, #myListForm, #myContactForm {
  margin-bottom: 20px;
  display: none;
}
#myJournalForm label, #myListForm label {
  display: none;
}
#myContactForm p {
  margin: 3px;
}
#myContactForm p label {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  padding: 8px 20px;
}
.add-button {
  text-align: center;
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  margin-left: 5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
}
.add-button:hover {
  background-color:#00C4EB;
  color: #FFFFFF;
}
#journal-to-hide, #list-to-hide, #contact-to-hide {
}
#id_journal_name, #id_list_name, #id_first_name, #id_last_name {
  height: 43px;
  width: 150px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
/* Add Journal Button End */

/* Delete, Rename Journal and List Button  */
.edit-journal {}
.delete-rename-block {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
#delete-button {
  text-align: center;
  background:red;
  color: #FFFFFF;
  border-radius:5px;
  padding: 5px 10px;
  font-weight: 400;
  cursor:pointer;
  font-size: 15px;
  border: 0;
  text-decoration:none;
  display: none;
}
#rename-button, #edit-entry-button-main {
  text-align: center;
  background: grey;
  color: #FFFFFF;
  border-radius:5px;
  padding: 5px 10px;
  font-weight: 400;
  cursor:pointer;
  font-size: 15px;
  border: 0;
  text-decoration:none;
  display: none;
}
.delete-form {
  text-align: center;
}
#delete-form-button {
  text-align: center;
  background:red;
  color: #FFFFFF;
  border-radius:5px;
  padding: 5px 10px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
  margin-top: 1rem;

}
.journal-name-delete {
  font-weight: 600;
}
.rename-form {
  text-align: center;
}
.rename-form label, .edit-entry label {
  display: none;
}
#rename-form-button {
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
}
#edit-entry-button {
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
  margin-top: 1rem;
  display: block;
}
/* Delete, Rename Journal Button End  */

/* Journals, Lists and Contacts @home */
.journals, .lists, .contacts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#header {
  margin-bottom: 20px;
  font-size: 30px;
  }
.journal, .list, .contact {
  flex-basis: content;
  background: #ebf1fe;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 600;
  color: #5183f5;
  cursor: pointer;
  text-decoration: none;
}
.journal-name {
  font-size: 30px;
  font-weight: 600;
  display: inline;
}
.journal-name-header {

}
/* Journals, Lists and Contacts @home END */

/* Journals Entry */
#id_body {
  border-radius: 5px;
  border: 0px;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  height: 50px;
  max-width: 92%
}
.add-entry-button {
  text-align: center;
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
  display: block;
  margin-top: 5px;
  margin-bottom: 2rem;
}
#entries {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.entry {
  margin-bottom: 1rem;
}
.entry-date {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  color: #5183f5;
}
.entry-card p, .entry-card a {
  color: #5183f5;
  display: inline;
  font-size: 20px;
}
/* .entry p, a {
  font-size: 20px;
  display: inline;
} */
.entry-card {
  margin-bottom: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.entry .small-text {
  font-size: 12px;
}
/* Journals Entry End */


@media (min-width: 768px) {
  /* Home Page */

  /* Home Page End */
}
