body {
  background-color: #349EEB;
  /* background-color: #96ccf2; */
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue; */
  margin-bottom: 50px;
}

/* p, h1, h2, h3, h4, li, ul, a {
  color: white;
} */

/* General */
.green-button {
  text-align: center;
  background: lightgreen;
  color: white;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.go-back {
  display: block;
  margin-bottom: 1rem;
  font-size: 15px;
  color: white;
  text-decoration: underline;
}

.custom-content {
  margin-top: 100px;
  max-width: 920px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
.small {
  font-size: 15px;
}
.white {
  color: white;
}
/* General End */

/* Semantic */
.f6 {
  font-size: 0.875rem;
}
.lh-copy {
  line-height: 1.5;
}
.normal{
  font-weight: 400;
}
.center{
  text-align: center;
  align-content: center;
}
  /* Semantic */


/* Navbar */
#navbar {
  background-color: #3F8CE8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
#navbar p, #navbar a, #navbar h1 {
  text-decoration: none;
}
#navbar .nav-container {
  padding: 0 1rem;
  height: 55px;
  max-width: 920px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#brand {
  padding: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  float: left;
}
#brand a {
  font-size: 25px;
  color: white;
}
#user {
  float: right;
  margin-top: 3px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown i {
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 12px 16px;
  right: 0;
  z-index: 1;
  background-color: #3F8CE8;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-item {
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 20px;
}
.login-nav-button {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  padding: 9px 15px;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  
}
.login-nav-button:hover {
  background-color: white;
  color: black;
}
#signup-nav-button  {
  background-image: linear-gradient(to right,#e052a0,#f15c41);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.pricing-button {
  color: white;
  margin-right: 5px;
}

/* Navbar End */

/* Home Page Intro */
.intro-block {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  float: left;
}
.intro-card {
  border: 5px solid white;
  border-radius: 6px;
  color:black;
  background-color:white;
  box-shadow: 0 4px 6px hsla(0, 0%, 70%), 0 5px 15px hsla(0,0%,10%);
  margin-bottom: 2rem;
  text-align: center;
}
.image-intro-card {
  border: 5px solid white;
  border-radius: 6px;
  color:black;
  background-color:white;
  box-shadow: 0 4px 6px hsla(0, 0%, 70%), 0 5px 15px hsla(0,0%,10%);
  margin-bottom: 2rem;
  text-align: center;
}

.intro-description {
  text-align: center;
  font-size: 25px;
  font-weight: 450;
}
.signup-button {
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #f15c41;
}
.main-description{
  font-weight: 800;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}
.main-sub-description{
  font-size: 22px;
}
.app-screenshot{
  margin: 15px 0px;
  max-width: 95%;
  border-radius: 6px;
  box-shadow: 0 4px 6px hsla(0, 0%, 70%), 0 5px 15px hsla(0,0%,10%);
}

.pricing-card {
  border: 4px solid navy;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
}
.monthly-price {
  font-size: 30px;
  margin: 0px;
}
.yearly-price {
  font-size: 12px;
  margin-top: 2px;
}
/* Home Page Intro End */

/* Home Page Logged In */
.app {
  margin-bottom: 2rem;
}
.app-name {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: white;
}
.la-user {
  font-size: 2.5rem;
}
/* Home Page Logged In End */

/* Signup and login */
.auth-box {
  text-align: left;
  border: 5px solid white;
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  margin: auto;
  background-color:white;
  box-shadow: 0 4px 6px hsla(0, 0%, 70%), 0 5px 15px hsla(0,0%,10%);
}
.auth-box h1 {
  margin-top: 7px;
  margin-bottom: 10px;
  font-weight: 650;
  text-transform: uppercase;
  font-size: 30px;
}
.help-block, .alert-block {
  margin: 10px 0;
  font-size: 15px;
  padding: 10px;
  border: 5px solidred;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color:hsla(360, 100%, 74%, 0.84);
}
.alert-block ul {
  list-style-type: none;
  margin: auto;
  padding: 0;

}
.control-group {
  margin-bottom: 1rem;
}
.control-group label {}
.textinput, .emailinput {
  border-radius: 3px;
  padding: 3px;
  border: 0;
  font-size: 1rem;
  width: 240px;
  border: 1px solid lightgray;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 8%);
}
.asteriskField {
  display: none;
}
#signup-button, #login-button {
  color: white;
  background-image: linear-gradient(to right,#e052a0,#f15c41);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 248px;

}

/* Signup and login End */

/* Add, Delete, Rename Journal and List Button  */
#id_name {
  padding: 6px;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 170px;
  font-size: 20px;
  color: grey;
}
#myJournalForm, #myListForm, #myContactForm {
  margin-bottom: 20px;
  display: none;
}
#myJournalForm label, #myListForm label {
  display: none;
}
#myContactForm p {
  margin: 3px;
}
#myContactForm p label {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  padding: 8px 20px;
  color: white;
}
.add-button {
  text-align: center;
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  margin-left: 5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
}
.add-button:hover {
  background-color:#00C4EB;
  color: #FFFFFF;
}
#journal-to-hide, #list-to-hide, #contact-to-hide {
  
}
#id_journal_name, #id_list_name, #id_first_name, #id_last_name {
  height: 43px;
  width: 150px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
/* Add Journal Button End */

/* Delete, Rename Journal and List Button  */
.edit-journal {}
.delete-rename-block {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
#delete-button {
  text-align: center;
  background:red;
  color: #FFFFFF;
  border-radius:5px;
  padding: 5px 10px;
  font-weight: 400;
  cursor:pointer;
  font-size: 15px;
  border: 0;
  text-decoration:none;
  display: none;
}
#rename-button, #edit-entry-button-main {
  text-align: center;
  background: grey;
  color: #FFFFFF;
  border-radius:5px;
  padding: 5px 10px;
  font-weight: 400;
  cursor:pointer;
  font-size: 15px;
  border: 0;
  text-decoration:none;
  display: none;
}
.delete-form {
  text-align: center;
}
#delete-form-button {
  text-align: center;
  background:red;
  color: #FFFFFF;
  border-radius:5px;
  padding: 5px 10px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
  margin-top: 1rem;

}
.journal-name-delete {
  font-weight: 600;
}
.rename-form {
  text-align: center;
}
.rename-form label, .edit-entry label {
  display: none;
}
#rename-form-button {
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
}
#edit-entry-button {
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
  margin-top: 1rem;
  display: block;
}
/* Delete, Rename Journal Button End  */

/* Journals, Lists and Contacts @home */
.journals, .lists, .contacts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 1.25rem;
}
#header {
  margin-bottom: 20px;
  font-size: 30px;
  }
.journal, .list, .contact {
  flex-basis: content;
  background: #ebf1fe;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: 600;
  color: #5183f5;
  cursor: pointer;
  text-decoration: none;
}
.journal-name {
  font-size: 30px;
  font-weight: 600;
  display: inline;
  color: white;
}
.journal-name-header {

}
/* Journals, Lists and Contacts @home END */

/* Journals Entry */
#id_body {
  border-radius: 5px;
  border: 0px;
  font-size: 20px;
  padding: 10px;
  height: 100px;
  max-width: 100%
}
.add-entry-button {
  text-align: center;
  background:#00D4FF;
  color: #FFFFFF;
  border-radius:5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor:pointer;
  font-size: 20px;
  border: 0;
  text-decoration:none;
  display: block;
  margin-top: 5px;
  margin-bottom: 2rem;
}
#entries {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.entry {
  margin-bottom: 1rem;
}
.entry-date {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  color: #5183f5;
}
.entry-card p, .entry-card a {
  color: #5183f5;
  display: inline;
  font-size: 20px;
}
.entry-card {
  margin-bottom: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.entry .small-text {
  font-size: 12px;
}
.journal-support-image {
  display: block;
  max-width: 90%;
  max-height: 100px;
  margin-top: 0.5rem;
}
#id_body {
  margin-bottom: 10px;
}
#id_support_image {
  display: block;
}
/* Journals Entry End */

/* Contact */
.contact-card {
  display: block;
  margin-bottom: 15px;
}
.contact-card p, .contact-card h1, .contact-card a {
  color: white;
}
.contact-log label {
  display: none;
}
.contact-log textarea {
  display: block;
}
.contact-log select {
  display: block;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.edit-contact label {
  display: block;
}
.edit-button {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: #eff3f6;
  color: #24292e !important;
  text-decoration: none;
  font-weight: 500;
  vertical-align: middle;
}
.contact-profile-image {
  width: 180px;
  height: 180px;
  border-radius: 200px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.edit-contact {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  padding: 10px;

}
.edit-contact input, .edit-contact textarea {
  box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,8%);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
/* Contact End */



@media (min-width: 768px) {
  /* Home Page */
  .main-description{
    font-weight: 800;
    font-size: 45px;
  }
  .main-sub-description{
    font-size: 24px;
  }
  .intro-card{
    padding: 0.5rem 3rem;
    margin-left: 5em;
    margin-right: 5em;
  }
  .image-intro-card {
    margin-left: 5em;
    margin-right: 5em;
  }
  /* Home Page End */
}
