{% load static %}
{% load analytical %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% analytical_head_top %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Kushim - Minimalist Life Management Tool</title>

    <link rel="apple-touch-icon" href="{% static 'favicon/500x500.png' %">
    <link rel="icon" type="image/png" sizes="16x16 32x32 500x500" href="{% static 'favicon/500x500.png' %}">

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.1.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/final.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% analytical_head_bottom %}
  </head>
  
  <body class="h-screen font-sans bg-blue-300">
    {% analytical_body_top %}

  
      <nav id="navbar">
        <div class='nav-container'>
          <div id="brand">
            <a href="/">Kushim</a>
          </div>
          <div id="user">
            {% if user.is_authenticated %}
            <div class="dropdown" onclick="void(0)">
              
              {% if user_profile_image %}
                <img src="{{ MEDIA_URL }}{{ user_profile_image }}" alt="">
              {% else %}
                <i class="las la-user"></i>
              {% endif %}
              
              <div class="dropdown-content">
                <p class="white dropdown-item">{{ user.username }}</p>
                <a class="white dropdown-item" href="mailto:me@rasulkireev.com">Feedback</a>
                <a class="white dropdown-item" href="{% url 'logout' %}">Log Out</a>
              </div>
            </div>
            {% else %}
              <a class='login-nav-button' href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>

        {% block content %}
        {% endblock content %}

    {% analytical_body_bottom %}
  </body>
</html>
