{% load static %}
{% load analytical %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% analytical_head_top %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Kushim - Minimalist Life Management Tool</title>

    <link rel="apple-touch-icon" href="{% static 'favicon/500x500.png' %}">
    <link rel="icon" type="image/png" sizes="16x16 32x32 500x500" href="{% static 'favicon/500x500.png' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.1.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/final.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% block stripe_init %}
      {# Stripe Elements #}
    {% endblock %}


    {% analytical_head_bottom %}
  </head>
  
  <body class="bg-blue-500">
    {% analytical_body_top %}

  
      <nav id="navbar">
        <div class='nav-container'>
          <div id="brand">
            <a href="/">Kushim</a>
          </div>
          <div id="user">
            {% if user.is_authenticated %}
            <div class="dropdown" onclick="void(0)">
              
              {% if user_profile_image %}
                <img src="{{ MEDIA_URL }}{{ user_profile_image }}" alt="">
              {% else %}
                <i class="las la-user"></i>
              {% endif %}
              
              <div class="dropdown-content">
                <p class="white dropdown-item">{{ user.username }}</p>
                <p class="white dropdown-item" ><a href="{% url 'account_logout' %}">Log Out</a></p>
              </div>
            </div>
            {% else %}
              <a class='login-nav-button' href="{% url 'account_login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>

      <div class="custom-content">
        {% block content %}
        {% endblock content %}
      </div>
      
      <a class="fixed bottom-0 right-0 z-10 p-1 font-semibold text-gray-900 no-underline bg-white border-t border-l border-white border-solid rounded-tl-lg" href="https://zfrmz.com/yh9x2zjuvexgfV2n6gl8">
        <img class="inline w-4 align-middle rounded" src="{% static 'images/logo.png' %}" alt="Kushim logo">
        <p class="inline m-0 ml-1 font-bold align-middle">Feedback</p>
      </a>

    {% analytical_body_bottom %}
  </body>
</html>
