{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

  <div class="app">
    <h1 class='app-name'>Journals</h1>
    {% load journal_tags %}
    {% get_journals to_journal %}
  </div>

  <div class="app">
    <h1 class='app-name'>Lists</h1>
    {% load list_tags %}
    {% get_lists list %}
  </div>

  <!-- <div class="app">
    <h1 class='app-name'>Network</h1>
    {% load contacts_tags %}
    {% get_contacts contact %}
  </div> -->


{% else %}
 
  <h1>Please Login <a href="{% url 'login' %}">here</a></h1>
  
 
{% endif %}


{% endblock content %}
