{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

  <div class="app">
    <h1 class='app-name'>Journals</h1>
    {% load journal_tags %}
    {% get_journals to_journal %}
  </div>

  <div class="app">
    <h1 class='app-name'>Lists</h1>
    {% load list_tags %}
    {% get_lists list %}
  </div>


{% else %}
  <div class="home-page">

    <div class="intro">
        <h1 class="intro-header">Minimalist Life Management Tool</h1>
        <p class="intro-description">Everyone is talking about Project Management tools, Asana, Monday, Basecamp (best one 😉) and many more. No one is talking about or developing a tool for life management. <b>Kushim</b> is here to solve that problem.</p>
    </div>


    <div>
      <h2 class="block-header">Adding Journals</h2>
      <hr class="block-header-underline">
      <div class="intro-block-flex">
        <img class="intro-block-gif" src="{% static 'images/add-journal-gif.gif' %}" alt="Adding a Journal is easy">
        <div class="intro-block-description-flex">
          <p class="intro-block-description-item">Adding a journal is easy.<p>
          <p class="intro-block-description-item">You can add as many journals as you want.</p>
        </div>
      </div>
    </div>

    <div>
      <h2 class="block-header">Adding Journal Entries</h2>
      <hr class="block-header-underline">
      <div class="intro-block-flex">
        <img class="intro-block-gif two" src="{% static 'images/add-journal-entry.gif' %}" alt="Adding a Journal is easy">
        <div class="intro-block-description-flex">
          <p class="intro-block-description-item">You guessed it. Adding Journal entries is also super easy!<p>
        </div>
      </div>
    </div>

    <div class="intro-block">
      <h2 class="block-header">Pricing</h2>
      <hr class="roadmap-block-header-underline">
      <p class="intro-block-description-item">Right now, the app is <strong>free to use</strong>. The reason is that I don't feel that the current state of the app would allow me to charge users.<p>
      <p class="intro-block-description-item">I plan to make the app paid as soon as I ship a couple of features. Please note, that any users who registered during the MVP stage will have a <strong>free account forever</strong>.<p>
    </div>

    <div class="intro-block">
      <h2 class="block-header">Feature Roadmap</h2>
      <hr class="roadmap-block-header-underline">

      <ul>
        <li><h2 class="roadmap-header done">Journals</h2></li>
        <li><h2 class="roadmap-header">Personal CRM</h2></li>
        <li><h2 class="roadmap-header">Habit Tracker</h2></li>
        <li><h2 class="roadmap-header">Letters to Your Future Self</h2></li>
        <li><h2 class="roadmap-header">Goal Setting Dahsboard</h2></li>
        <li><h2 class="roadmap-header">Closed Community for Users</h2></li>
        <li><h2 class="roadmap-header">Spending Tracker</h2></li>
        <li><h2 class="roadmap-header">Investment Tracker</h2></li>
      </ul>
    </div>

    <div class="intro-block">
      <h2 class="block-header">To-Do</h2>
      <hr class="roadmap-block-header-underline">

      <ul>
        <li><p class="roadmap-header">Add Account information dashboard</p></li>
        <li><p class="roadmap-header">Add ability edit and delete journals</p></li>
        <li><p class="roadmap-header">Add ability to delete entries</p></li>
      </ul>
    </div>


  </div>
{% endif %}


{% endblock content %}
