{% load static %}
{% load analytical %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% analytical_head_top %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Kushim - Signup</title>

    <link rel="apple-touch-icon" href="{% static 'favicon/500x500.png' %">
    <link rel="icon" type="image/png" sizes="16x16 32x32 500x500" href="{% static 'favicon/500x500.png' %}">

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.1.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/final.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% analytical_head_bottom %}
  </head>
  
  <body class="h-screen font-sans bg-blue-300">
    {% analytical_body_top %}

    <div class="container flex items-center justify-center h-full mx-auto">
        <div class="w-auto lg:w-3">
          <h1 class="mb-6 text-4xl font-hairline text-center">Signup for Kushim</h1>
          <div class="p-8 mb-6 bg-white border-t-8 border-blue-500 rounded-lg shadow-lg">
            <form id="" method="post">{% csrf_token %}
                {{ form.non_field_errors }}
            
                <div class="mb-4">
                  {{ form.username.errors }}
                  <label class="block mb-2 font-bold text-gray-700" for="{{ form.username.id_for_label }}">Username</label>
                  {{ form.username }}
                </div>

                <div class="mb-4">
                    {{ form.email.errors }}
                    <label class="block mb-2 font-bold text-gray-700" for="{{ form.email.id_for_label }}">Email address</label>
                    {{ form.email }}
                </div>

                <div class="mb-4">
                    {{ form.password1.errors }}
                    <label class="block mb-2 font-bold text-gray-700" for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}
                </div>

                <div class="mb-4">
                    {{ form.password2.errors }}
                    <label class="block mb-2 font-bold text-gray-700" for="{{ form.password2.id_for_label }}">Password Confirmation</label>
                    {{ form.password2 }}
                </div>
    
                <button class="px-4 py-2 font-bold text-white bg-blue-700 rounded hover:bg-blue-400" type="submit">Sign Up</button>
          </form>
        </div>

        <div class="text-center">
            <p class="text-sm text-grey-700">Already have an account? <a class="font-bold no-underline text-blue" href="{% url 'login' %}">Log In</a>.</p>
          </div>
      </div>
    </div>
      
  
      {% analytical_body_bottom %}
    </body>
  
  </html>
  