{% load static %}

    <section class='contacts'>

        {% for contact in contacts %}
          <a class="contact" href="{% url 'contact-detail' contact.contact_id %}">{{ contact.first_name }} {{ contact.last_name }}</a>
        {% endfor %}

          <button class="add-button" id="contact-to-hide" onclick="inputContact(); this.onclick=null;">Add Contact</button>

    </section>

    <div id="new-contact">
      <form class="" id="myContactForm" action="{% url 'contacts' %}" method="post">{% csrf_token %}
        {{ form.non_field_errors }}

        <div class="">
          {{ form.first_name.errors }}
          {{ form.first_name }}
        </div>

        <div class="">
          {{ form.last_name.errors }}
          {{ form.last_name }}
        </div>

        <button type="submit" class="add-button">Add Contact</button>
      </form>
    </div>
