{% load static %}



    <h1 class="green-button" onclick="inputJournal(); this.onclick=null;">Add Journal</h1>
    <h1 id="header">My thoughts on:</h1>
    <div id="new-journal">
      <form class="" id="myForm" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="add-button">Add</button>
      </form>
    </div>

    <section id='journals'>
        {% for journal in journals %}
          <a class="journal" href="{% url 'to-journal-entries' journal.slug %}">{{ journal.journal_name }}</a>
        {% endfor %}
    </section>
