{% load static %}

    <section id="digital-garden" class='flex flex-wrap items-start text-xl'>

        {% for list in lists %}
          <a class="flex px-2 py-1 mb-2 mr-2 text-lg font-semibold text-blue-700 no-underline bg-white rounded cursor-pointer" href="{% url 'list-entries' list.slug %}">{{ list.list_name }}</a>
        {% endfor %}

          <button class="px-2 py-1 text-lg font-semibold text-center text-white no-underline bg-gray-500 rounded cursor-pointer" id="list-to-hide" onclick="inputList(); this.onclick=null;">Add List</button>

          <span id="new-journal">
            <form class="" id="myListForm" action="{% url 'lists' %}" method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="px-2 py-1 text-lg font-semibold text-center text-white no-underline bg-gray-500 rounded cursor-pointer">Add List</button>
            </form>
          </span>

    </section>
